# Build output
zig-out/

# Zig cache
.zig-cache/

# Runtime logs
*.log
stderr.txt
stdout.txt

# Temp
tmp/

# IDE
.idea/

# Dependências / downloads manuais
zig-pkg/
2706121.pdf
serial.zip

# OS
.DS_Store
Thumbs.db
